{% extends "layout.html" %}

{% block content %}

{% load static %}
<h1>Victor Rubia</h1>
<header class="row bg-black mi-div">
    <div class='col-md-4 mi-div'>
    <img src="{% static 'portfolio/perfil.jpg'%}"alt=""class="img-fluid">
</div>
<div class='col-md-8 my-auto'class="text-fluid">
    
    <h3>Développeur Junior Python</h3>
    <p>Programmeur junior très motivé et passionné par le développement
        de logiciels. J'ai une solide connaissance de Python, ainsi que de 
        l'expérience dans le développement d'applications web et des 
        compétences de base en matière de bases de données. 
        Je suis une personne proactive, créative et orientée vers les 
        résultats, avec des compétences en résolution de problèmes et une
        capacité à travailler efficacement en équipe et de manière 
        autonome.</p>
        <a href="{% static "portfolio/cv_france.pdf" %}" class="btn btn-primary btn-lg rounded-3 my-3"target='_blank'>Télécharger</a>
</div>
</header>

<div class="row my4 text-center"></div>

<h3>Mes projets</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eligendi saepe praesentium minima! Quae voluptates nihil error odit facilis repellendus, at aliquid repudiandae nemo autem dolore et debitis, incidunt odio?
</p>
{% for project in projects %}

<div class="col-md-4 p-4">
    <div class="card bg-black card-project mi-div">
        <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top"/>
        <div class="card-body">
           <h2>{{project.title}}</h2>
            <p>{{project.description}}</p>

            
            {% if project.url %}
            <a href="{{project.url}}" class="btn btn-light round-3 btn-sm"target="_blank"></a>
            {% endif %} 
        </div>
    </div>
</div>


{% endfor %}

{% endblock %}